<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-4">

            <h3>Registro</h3><br> 

            <form [formGroup]="formRegister">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Usuario</span>
                    <input formControlName="email" type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Contraseña</span>
                    <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
                </div>
    
                <button type="button" class="btn btn-primary" (click)="registrar()">Registrarse</button>

            </form>
        </div>
    </div>
</div>
